<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="PhoAmThucConn"
             connectionString="Data Source=TEN_SERVER_CUA_BAN;Initial Catalog=PhoAmThucDB;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>